[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
yfinance = "*"
requests-html = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
flask = "flask run"
industry = "python src/function/generateIndustryData.py"
company = "python src/function/generateCompanyData.py"
