[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
yfinance = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
tqdm = "*"
timeout-decorator = "*"
uwsgi = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
flask = "python index.py"
dev = "sh bin/bootstrap.sh"
prod = "bash bin/bootstrap.prod.sh"
industry = "python src/function/generateIndustryData.py"
company = "python src/function/generateCompanyData.py"
sheets = "python src/function/generateFinantialStatementsData.py"
